# Ignore environment variables file
.env

# Ignore virtual environment folder (venv)
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc
*.pyo

# Ignore IDE/editor-specific files (for example, VS Code)
.vscode/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore coverage reports
.coverage
*.coverage
coverage.xml
*.coveragerc

# Ignore test output directories
nosetests.xml
test_*.xml
